<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>community Events</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
  

</head>
<body>
    <div class="container-fluid">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">Comnunity Events</a>
          </div>

          <div >
            <span class="nav nav-tabs"><a href="#">Home</a></span>
            <span class="nav nav-tabs"><a  href="#">Page 1</a></span>
            <span class="nav nav-tabs"><a href="#">Page 2</a></span>
            <span class="nav nav-tabs"><a href="#">Page 3</a></span>
          </div>
        </div>
      </nav>
<span class="border border-secondary"> The first line of toolbar</span>
<div class="well border border-secondary" > This is well</div>

      </div>
      <div class="alert alert-primary" role="alert">
        This is a primary alert—check it out!
      </div>
      <div class="alert alert-secondary" role="alert">
        This is a secondary alert—check it out!
      </div>
      <div class="alert alert-success" role="alert">
        This is a success alert—check it out!
      </div>
      <div class="alert alert-danger" role="alert">
        This is a danger alert—check it out!
      </div>
      <div class="alert alert-warning" role="alert">
        This is a warning alert—check it out!
      </div>
      <div class="alert alert-info" role="alert">
        This is a info alert—check it out!
      </div>
      <div class="alert alert-light" role="alert">
        This is a light alert—check it out!
      </div>
      <div class="alert alert-dark" role="alert">
        This is a dark alert—check it out!
      </div>
</body>
</html>
<script src="jquery.min.js"></script>
<script src="../node_modules/bootstrap/dist/js/bootstrap.min.js" ></script>

<style>
  li {
    list-style: none;
  }
</style>